Generated-REST-APIs-Documentation/Samples/PostgreSQL/postgres-function.json
[
    {
        "id": "d9a9aafda542f775",
        "type": "tab",
        "label": "postgres-function"
    },
    {
        "id": "5m8q9wv6qygub88q",
        "type": "comment",
        "z": "d9a9aafda542f775",
        "name": "postgres-function",
        "info": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "xkc34mml3abc11a8",
        "type": "comment",
        "z": "d9a9aafda542f775",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "saxk63fi3oo1okp8",
        "type": "comment",
        "z": "d9a9aafda542f775",
        "name": "GetEndPoint (function parameters are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "rj3s1h0x23565n62",
        "type": "catch",
        "z": "d9a9aafda542f775",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "7gnm5o18u7y913s1"
            ]
        ]
    },
    {
        "id": "7gnm5o18u7y913s1",
        "type": "function",
        "z": "d9a9aafda542f775",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\": msg.error.message\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "62v878bes877o7xq"
            ]
        ]
    },
    {
        "id": "62v878bes877o7xq",
        "type": "http response",
        "z": "d9a9aafda542f775",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "p4czvx5v9e88337i",
        "type": "http in",
        "z": "d9a9aafda542f775",
        "name": "",
        "url": "/public.tvf_test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "k07tbhmoyjl516as"
            ]
        ]
    },
    {
        "id": "k07tbhmoyjl516as",
        "type": "function",
        "z": "d9a9aafda542f775",
        "name": "CheckFunctionParameters",
        "func": "var queryParameters = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryParameters.some(p => p != \"param\")){\n    throw new Error(\"Invalid query parameter detected!\");\n}\n\nif (msg.req.query.param === undefined){\n    throw new Error(\"The parameters were not defined!\");\n}\n\nmsg.functionParameters = [];\nvar params = msg.req.query.param;\n\nfor (let i = 0; i < params.length; i++){\n    msg.functionParameters.push(params[i]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "l68e7k1183vi7760"
            ]
        ]
    },
    {
        "id": "l68e7k1183vi7760",
        "type": "function",
        "z": "d9a9aafda542f775",
        "name": "SetQueryParameters",
        "func": "var selectQuery = \"SELECT * FROM public.tvf_test(\";\nvar functionArgs = [];\n\nif (msg.functionParameters.length > 0){\n    for (let i = 0; i < msg.functionParameters.length; i++){\n        if (msg.functionParameters[i] === \"default\"){\n          continue;\n        }\n\n        if (msg.functionParameters[i] === \"null\") {\n          functionArgs.push(msg.functionParameters[i]);\n          continue;\n        }\n\n        functionArgs.push(`'${msg.functionParameters[i]}'`);\n    }\n}\n\nselectQuery += functionArgs.join(\",\");\nselectQuery += \");\";\nmsg.query = selectQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "592364gs89ph819c"
            ]
        ]
    },
    {
        "id": "592364gs89ph819c",
        "type": "postgresql",
        "z": "d9a9aafda542f775",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "a96qep47609kt257",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "840xb8smi835rm7i"
            ]
        ]
    },
    {
        "id": "840xb8smi835rm7i",
        "type": "function",
        "z": "d9a9aafda542f775",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\": response  \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "k35kcb1vsv48511o"
            ]
        ]
    },
    {
        "id": "k35kcb1vsv48511o",
        "type": "http response",
        "z": "d9a9aafda542f775",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "a96qep47609kt257",
        "type": "postgreSQLConfig",
        "z": "d9a9aafda542f775",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "secret",
        "passwordFieldType": "str"
    }
]